footer {
  text-align: center;
  padding: 1rem 0;
  width: auto;
  background-color: black;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  font-weight: bold;
  color: white;

  margin-top: 5rem;
}
