@import url('../var.css');

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  place-self: center;
  padding: 1rem 2rem;
  width: var(--header-width);
  margin-block: 3rem 2rem;
  background: var(--glass-bg-color);
  border-radius: var(--glass-border-radius);
  box-shadow: var(--glass-box-shadow);
  backdrop-filter: var(--glass-bg-blur);
  border: var(--glass-border);
  transition: var(--regular-transition);

  &:hover {
    backdrop-filter: var(--onHover-bg-blur);
    transform: scale(1.05);
    .line {
      background-color: color-mix(
        in srgb,
        var(--header-line-color) 65%,
        transparent
      );
      filter: blur(8px);
    }
    .routing-container li:is(:not(:hover)) {
      filter: blur(1.5px);
    }
  }

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 50px;
      margin-right: 0.5rem;
      filter: drop-shadow(
        0px 0px 15px
          color-mix(in srgb, var(--main-color) 80%, var(--secondary-color) 20%)
      );
    }
    span {
      font-weight: var(--font-bold);
      font-family: var(--MMT-font);
      padding-top: 0.4rem;
      color: var(--main-color);
      font-size: 1.6rem;
      cursor: cell;
    }
  }

  .routing-container ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .line {
    position: absolute;
    z-index: -1;
    background-color: var(--header-line-color);
    width: 15.8rem;
    margin-top: 0.45rem;
    height: 0.5rem;
    filter: var(--glass-bg-blur);
    transition: var(--regular-transition);
  }
  .routing-container li {
    &:is(:not(:first-child)) {
      margin-left: 0.8rem;
    }
    transition: var(--regular-transition);
    color: var(--main-color);

    &:hover {
      font-weight: var(--font-bold);
      transform: translateY(-2px);
      color: rgba(255, 255, 0, 1);
      text-shadow: 0 0 5px
        color-mix(in srgb, var(--main-color) 50%, var(--secondary-color) 30%);
    }
    &:is(:not(:hover)) {
      filter: blur(3px);
    }
  }
}
