@media (max-width: 500px) {
  header {
    flex-direction: column;
    align-items: stretch;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.3rem;
    .logo-container {
      justify-content: center;
      margin-bottom: 1rem;
      img {
        height: 32px;
        margin-right: 0.3rem;
      }
      span {
        font-size: 1.2rem;
        padding-top: 0.2rem;
      }
    }
    .routing-container ul {
      flex-direction: column;
      align-items: center;
    }
    .routing-container li {
      margin: 0.5rem 0 0 0;
    }
  }
  body {
    padding: 0;
    min-width: 100vw;
    background-size: cover;
  }
}
