.about-page {
  h2 {
    color: var(--subtitle-color);
  }
  h1 {
    font-size: var(--title-size);
    color: var(--title-color);
  }
  p {
    color: var(--main-color);
    width: var(--long-paragraph-length);
    margin-left: 1.5rem;
    font-weight: 600;
  }
}

.values-container {
  display: flex;
  margin-left: 1rem;
  .box {
    border: var(--glass-border);
    border-radius: calc(var(--glass-border-radius) - 4px);
    box-shadow: var(--glass-box-shadow);
    padding: var(--text-box-padding);
    backdrop-filter: var(--glass-bg-blur);
    margin: 0.5rem;
    width: var(--text-box-width);
    background: var(--glass-bg-color);
    color: var(--main-color);

    p {
      opacity: 0.6;
      width: var(--short-paragraph-length);
      font-weight: var(--font-normal);
      margin-left: 0;
    }
  }
}

.milestones-container {
  position: relative;
  padding-left: 65px; /* space for line & icons */
  margin-bottom: 5rem;
}

.milestones-container::before {
  content: '';
  position: absolute;
  left: 50px; /* center of icons */
  top: 5px;
  bottom: 0;
  width: var(--milestone-line-width);
  box-shadow: 25px 0 50px 20px
    color-mix(in srgb, var(--main-color) 20%, transparent);
  background-color: var(--milestone-line-color);
}

.milestone {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  padding: 0.5rem;
  position: relative;
  margin-bottom: 20px;
}

.milestone svg {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  color: var(--title-color);
}

.milestone-details h3 {
  margin: 0;
  font-size: 1.2rem;
  color: var(--main-color);
}

.milestone-details p {
  margin: 0.2rem 0;
  opacity: 0.7;
}
