@import url('../var.css');

.contact-container {
  display: flex;
  flex-direction: column;

  .contact-header {
    h1 {
      font-size: var(--title-size);
      color: var(--title-color);
      margin: 0;
    }
    p {
      font-size: 1.2rem;
      color: var(--main-color);
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 500px;

    input,
    textarea {
      color: var(--secondary-color);
      padding: 0.9rem;
      border: none;
      border-radius: 0.4rem;
      font-size: 1rem;
      background-color: color-mix(
        in srgb,
        var(--main-color) 90%,
        var(--secondary-color) 10%
      );
      resize: none;
    }

    button {
      background-color: var(--accent-blue);
      color: var(--main-color);
      padding: 0.8rem;
      border: none;
      max-width: 8rem;
      border-radius: 0.4rem;
      cursor: pointer;
      transition: var(--regular-transition);

      &:hover {
        background-color: color-mix(in srgb, var(--accent-blue) 80%, black 20%);
      }
    }
  }
}

.social-media h2 {
  color: var(--subtitle-color);
}
.social-media p {
  font-size: 1rem;
  color: var(--main-color);
  margin-block-end: 0;
}

.social-media ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin-block-end: 0;
}

.social-media li {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
  transition: all 0.3s ease;
  a {
    transition: all 0.2s ease;
  }
  svg {
    background-color: var(--main-color);
    color: var(--secondary-color);
    border-radius: 50%;
  }
  &:hover {
    transform: scale(1.1);
    a {
      transform: translateY(-5px);
    }
  }
}
.contact-info h2 {
  color: var(--subtitle-color);
}
.contact-info p {
  font-size: 1rem;
  color: var(--main-color);
}

.contact-info {
  margin-bottom: 5rem;
}
.dc-info {
  display: flex;
  align-items: center;
  margin: 1rem 0;

  a {
    margin-right: 0.5rem;

    svg {
      padding: 0.5rem;
      width: 2rem;
      height: 2rem;
      color: var(--secondary-color);
      border-radius: 0.4rem;
      background-color: var(--main-color);
    }
  }

  h3 {
    margin: 0;
    font-size: 1.2rem;
    color: var(--main-color);
  }

  p {
    margin: 0.2rem 0;
    color: color-mix(
      in srgb,
      var(--main-color) 80%,
      var(--secondary-color) 20%
    );
  }
}
