@import url('../var.css');

.home-page {
  margin-top: 7.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home-page h1 {
  padding-top: 2px;
  font-size: 6rem;
  margin-bottom: 1rem;
  color: var(--title-color);
  text-shadow: 0 0 2px var(--main-color);
}

.welcome-message p {
  color: var(--main-color);
  font-size: 1.1rem;
  font-family: tahoma, Arial, Helvetica, sans-serif;
  font-weight: var(--font-normal);
  opacity: var(--subtext-opacity);
}
.welcome-message h2 {
  font-size: 1.8rem;
  color: var(--main-color);
  margin-bottom: -0.5rem;
}

.CTA-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;

  button {
    background: var(--glass-bg-color);
    border-radius: calc(var(--glass-border-radius) - 7px);
    box-shadow: var(--glass-box-shadow);
    backdrop-filter: var(--glass-bg-blur);
    border: var(--glass-border);
    color: var(--main-color);
    font-size: 1.3rem;
    font-family: Helvetica, sans-serif;
    font-weight: var(--font-normal);
    padding: 0.9rem 1.8rem;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: rgba(218, 165, 32, 0.35);
      transform: translateY(-2px);
      transform: scale(1.1);
      z-index: 50;
    }

    &:hover ~ button,
    &:hover + button {
      filter: blur(50px);
      transform: translateX(-100px);
    }
  }
  button:first-child {
    background-color: var(--accent-blue);
    color: white;
    text-shadow: 0 0 10px #0008ff85, 0 0 20px #00ff8885,
      0 0 30px var(--accent-blue), 0 0 40px var(--accent-blue),
      0 0 50px var(--accent-blue), 0 0 60px var(--accent-blue),
      0 0 70px var(--accent-blue);
  }
}
