:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*::selection {
  background: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  min-width: 320px;
  min-height: 100svh;
  background-image: url('/grid-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 0.2px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

footer {
  text-align: center;
  padding: 1rem 0;
  width: auto;
  background-color: black;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  font-weight: bold;
  color: white;

  margin-top: 5rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  place-self: center;
  padding: 1rem 2rem;
  width: 60rem;
  margin-block: 3rem 2rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: all 0.3s ease-in-out;

  &:hover {
    backdrop-filter: blur(9px);
    transform: scale(1.05);
    .line {
      background-color: rgba(255, 0, 0, 0.5);
      filter: blur(8px);
    }
    .routing-container li:is(:not(:hover)) {
      filter: blur(1.5px);
    }
  }

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 50px;
      margin-right: 0.5rem;
      filter: drop-shadow(0px 0px 15px #ffffff);
    }
    span {
      font-weight: bold;
      font-family: 'Montserrat';
      padding-top: 0.4rem;
      color: white;
      font-size: 1.6rem;
      cursor: cell;
    }
  }

  .routing-container ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .line {
    position: absolute;
    z-index: -1;
    background-color: rgba(255, 0, 0, 0.7);
    width: 16rem;
    margin-left: 1rem;
    margin-top: 0.45rem;
    height: 0.5rem;
    filter: blur(5px);
    transition: all 0.3s ease-in-out;
  }
  .routing-container li {
    margin-left: 1rem;
    transition: all 0.3s ease;

    &:hover {
      font-weight: bold;
      transform: translateY(-2px);
    }
    &:is(:not(:hover)) {
      filter: blur(3px);
    }
  }
}

.home-page {
  margin-top: 7.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home-page h1 {
  padding-top: 2px;
  font-size: 6rem;
  margin-bottom: 1rem;
  color: gold;
}

.home-page p {
  font-size: 1.2rem;
  font-family: tahoma, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
}
.home-page .welcome-message {
  h2 {
    font-size: 1.8rem;
    color: white;
    margin-bottom: -0.5rem;
  }
  p {
    color: rgb(220, 220, 220);
    font-size: 1.1rem;
    font-family: tahoma, Arial, Helvetica, sans-serif;
    font-weight: normal;
  }
}

.home-page .CTA-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;

  button {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0.4rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    font-size: 1.3rem;
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    padding: 0.9rem 1.8rem;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: rgba(218, 165, 32, 0.35);
      transform: translateY(-2px);
      transform: scale(1.1);
      z-index: 50;
    }

    &:hover ~ button,
    &:hover + button {
      filter: blur(50px);
      transform: translateX(-100px);
    }
  }
  button:first-child {
    background-color: royalblue;
  }
}

.about-page {
  padding-bottom: 5rem;

  h2,
  h1 {
    color: goldenrod;
  }
  h1 {
    font-size: 3rem;

    color: gold;
  }
  p {
    width: 100ch;
    margin-left: 0;
    font-weight: bold;
  }
}

.values-container {
  display: flex;
  margin-left: 2rem;
  .box {
    border: 2px solid gray;
    border-radius: 0.5rem;
    padding: 1rem 1rem 0.2rem;
    margin: 0.5rem;
    width: 15rem;
    background: white;
    color: black;
    p {
      opacity: 0.5;
    }
  }
}

.milestones-container {
  position: relative;
  padding-left: 60px; /* space for line & icons */
}

.milestones-container::before {
  content: '';
  position: absolute;
  left: 40px; /* center of icons */
  top: 5px;
  bottom: 0;
  width: 2px;
  background-color: #ddd; /* line color */
}

.milestone {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  padding: 0.5rem;
  position: relative;
  margin-bottom: 20px;
}

.milestone svg {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  color: gold;
}

.milestone-details h3 {
  margin: 0;
  font-size: 1.2rem;
  color: white;
}

.milestone-details p {
  margin: 0.2rem 0;
  color: #ccc;
}

@media (max-width: 500px) {
  header {
    flex-direction: column;
    align-items: stretch;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.3rem;
    .logo-container {
      justify-content: center;
      margin-bottom: 1rem;
      img {
        height: 32px;
        margin-right: 0.3rem;
      }
      span {
        font-size: 1.2rem;
        padding-top: 0.2rem;
      }
    }
    .routing-container ul {
      flex-direction: column;
      align-items: center;
    }
    .routing-container li {
      margin: 0.5rem 0 0 0;
    }
  }
  body {
    padding: 0;
    min-width: 100vw;
    background-size: cover;
  }
}

.contact-container {
  display: flex;
  flex-direction: column;

  .contact-header {
    h1 {
      font-size: 3rem;
      color: gold;
      margin: 0;
    }
    p {
      font-size: 1.2rem;
      color: white;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 500px;

    input,
    textarea {
      color: black;
      padding: 0.8rem;
      border: 1px solid #ccc;
      border-radius: 0.4rem;
      font-size: 1rem;
      background-color: rgb(222, 222, 222);
      resize: none;
    }

    button {
      background-color: royalblue;
      color: white;
      padding: 0.8rem;
      border: none;
      max-width: 8rem;
      border-radius: 0.4rem;
      cursor: pointer;

      &:hover {
        background-color: darkblue;
      }
    }
  }
}

.social-media h2 {
  color: gold;
}
.social-media p {
  font-size: 1rem;
  color: white;
}

.social-media ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 0;
}

.social-media li {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;

  svg {
    background-color: white;
    color: black;
    border-radius: 50%;
  }
}
.contact-info h2 {
  color: gold;
}
.contact-info p {
  font-size: 1rem;
  color: white;
}

.dc-info {
  display: flex;
  align-items: center;
  margin: 1rem 0;

  a {
    margin-right: 0.5rem;

    svg {
      padding: 0.5rem;
      width: 2rem;
      height: 2rem;
      color: black;
      border-radius: 0.4rem;
      background-color: white;
    }
  }

  h3 {
    margin: 0;
    font-size: 1.2rem;
    color: white;
  }

  p {
    margin: 0.2rem 0;
    color: #ccc;
  }
}

.live-plans {
  ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
  }
  li {
    align-items: center;
    width: fit-content;
    background-color: white;
    padding: 0.4rem;
    border-radius: 0.4rem;
    display: flex;
    gap: 0.5rem;
    position: relative;

    a {
      align-self: start;
      position: absolute;
      opacity: 0;
      transition: opacity 0.3s linear;

      svg {
        transition: all 0.3s ease;
        margin: 0.4rem;
        padding: 0.5rem;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: white;
        color: black;
        &:hover {
          color: royalblue;
          transform: scale(1.1);
        }
      }
    }
    &:hover {
      a {
        opacity: 1;
      }
    }
    img {
      width: 15rem;
      height: 15rem;
      border-radius: 0.4rem;
      box-shadow: 0 0 15px 0px rgba(163, 163, 163, 0.5);
    }

    h4 {
      margin: 0;
      color: black;
    }
    p {
      margin: 0.2rem 0;
      color: gray;
    }
  }
}

.upcoming-plans,
.completed-plans {
  margin-bottom: 2.5rem;
  ul {
    list-style: none;
    padding: 0;
    margin-left: 1rem;
  }
  li {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    width: fit-content;
    transition: all 0.3s ease;
    a {
      color: black;
      text-decoration: none;
      display: none;
      padding-inline: 0.5rem;
      margin-top: 0.25rem;
      transition: all 0.3s ease;
    }
    a:hover {
      color: royalblue;
      transform: scale(1.1);
    }
    &:hover {
      padding: 0.2rem;
      padding-right: 1rem;
      background-color: #fff;
      border-radius: 0.4rem;
      h4 {
        color: black;
      }
      p {
        color: black;
      }
      a {
        display: block;
      }
    }

    img {
      max-height: 3rem;
      margin-right: 1rem;
      border-radius: 0.4rem;
      /* box-shadow: 0 0 30px 0px rgba(255, 255, 255, 0.2); */
      box-shadow: -3px 3px 0px 0px rgba(255, 255, 255, 0.3);
    }
    h4 {
      transition: all 0.3s ease;

      margin: 0;
      color: white;
    }
    p {
      margin: 0.2rem 0;
      transition: all 0.3s ease;

      color: #ccc;
    }
  }
}
