:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  min-width: 320px;
  min-height: 100svh;
  background-image: url('/grid-bg.jpg');
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
  padding-top: 0.2px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  place-self: center;
  padding: 1rem 2rem;
  width: 50rem;
  margin: 3rem 3rem 0rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: all 0.3s ease-in-out;

  &:hover {
    backdrop-filter: blur(9px);
    transform: scale(1.05);
  }

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 50px;
      margin-right: 0.5rem;
      filter: drop-shadow(0px 0px 15px #ffffff);
    }
    span {
      font-weight: bold;
      font-family: 'Montserrat';
      padding-top: 0.4rem;
      color: white;
      font-size: 1.6rem;
    }
  }

  .routing-container ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .routing-container li {
    margin-left: 1rem;
  }
}

.home-page {
  margin-top: 7.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home-page h1 {
  padding-top: 2px;
  font-size: 6rem;
  margin-bottom: 1rem;
  color: gold;
}

.home-page p {
  font-size: 1.2rem;
  font-family: tahoma, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
}
.home-page .welcome-message {
  h2 {
    font-size: 1.8rem;
    color: white;
    margin-bottom: -0.5rem;
  }
  p {
    color: rgb(220, 220, 220);
    font-size: 1.1rem;
    font-family: tahoma, Arial, Helvetica, sans-serif;
    font-weight: normal;
  }
}

.home-page .CTA-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;

  button {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0.4rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    font-size: 1.3rem;
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    padding: 0.9rem 1.8rem;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: rgba(218, 165, 32, 0.35);
      transform: translateY(-2px);
      transform: scale(1.1);
      z-index: 50;
    }

    &:hover ~ button,
    &:hover + button {
      filter: blur(50px);
      transform: translateX(-100px);
    }
  }
  button:first-child {
    background-color: royalblue;
  }
}

.about-page {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 5rem;
  h2,
  h1 {
    color: goldenrod;
  }
  h1 {
    font-size: 2.4rem;
    color: gold;
  }
  p {
    margin-left: 2rem;
    font-weight: bold;
  }
}

.values-container {
  display: flex;
  margin-left: 2rem;
  .box {
    border: 2px solid gray;
    border-radius: 0.5rem;
    padding: 1rem 1rem 0.2rem;
    margin: 0.5rem;
    width: 15rem;
    background: white;
    color: black;
    p {
      opacity: 0.5;
    }
  }
}

.milestones-container {
  position: relative;
  padding-left: 60px; /* space for line & icons */
}

.milestones-container::before {
  content: '';
  position: absolute;
  left: 40px; /* center of icons */
  top: 5px;
  bottom: 0;
  width: 2px;
  background-color: #ddd; /* line color */
}

.milestone {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  padding: 0.5rem;
  position: relative;
  margin-bottom: 20px;
}

.milestone svg {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  color: gold;
}

.milestone-details h3 {
  margin: 0;
  font-size: 1.2rem;
  color: white;
}

.milestone-details p {
  margin: 0.2rem 0;
  color: #ccc;
}

@media (max-width: 500px) {
  header {
    flex-direction: column;
    align-items: stretch;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.3rem;
    .logo-container {
      justify-content: center;
      margin-bottom: 1rem;
      img {
        height: 32px;
        margin-right: 0.3rem;
      }
      span {
        font-size: 1.2rem;
        padding-top: 0.2rem;
      }
    }
    .routing-container ul {
      flex-direction: column;
      align-items: center;
    }
    .routing-container li {
      margin: 0.5rem 0 0 0;
    }
  }
  body {
    padding: 0;
    min-width: 100vw;
    background-size: cover;
  }
}

.contact-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .contact-header {
    h1 {
      font-size: 3rem;
      color: gold;
      margin: 0;
    }
    p {
      font-size: 1.2rem;
      color: white;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 500px;

    input,
    textarea {
      color: black;
      padding: 0.8rem;
      border: 1px solid #ccc;
      border-radius: 0.4rem;
      font-size: 1rem;
      background-color: rgb(222, 222, 222);
      resize: none;
    }

    button {
      background-color: royalblue;
      color: white;
      padding: 0.8rem;
      border: none;
      max-width: 8rem;
      border-radius: 0.4rem;
      cursor: pointer;

      &:hover {
        background-color: darkblue;
      }
    }
  }
}

.social-media h2 {
  color: gold;
}
.social-media p {
  font-size: 1rem;
  color: white;
}

.social-media ul {
  display: flex;
  gap: 2.5rem;
  list-style: none;
  padding: 0;
}

.social-media li {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;

  svg {
    background-color: white;
    color: black;
    border-radius: 50%;
  }
}
.contact-info h2 {
  color: gold;
}
.contact-info p {
  font-size: 1rem;
  color: white;
}

.dc-info {
  display: flex;
  align-items: center;
  margin: 1rem 0;

  a {
    margin-right: 0.5rem;

    svg {
      padding: 0.5rem;
      width: 2rem;
      height: 2rem;
      color: black;
      border-radius: 0.4rem;
      background-color: white;
    }
  }

  h3 {
    margin: 0;
    font-size: 1.2rem;
    color: white;
  }

  p {
    margin: 0.2rem 0;
    color: #ccc;
  }
}
